/* button {
    text-align: right;
}

button > span {
    font-style: normal;
    font-weight: bold;
}

#logo {
    background: url(../assets/holberton-logo.jpg);
    background-position: center;
    background-size: 200px 200px;
} */

#count {
    display: inline;
    padding-left: 10px;
    font-weight: bold;
}

#logo {
    width: 200px;
    height: 200px;
    background: url('../assets/holberton-logo.jpg');
    background-size: 200px 200px;
    /* display: block; */
}
